
		<h3><%= current_user.email %> </h3>
	
<div class="box">
<% @groups.each do |group| %>

	<div class="boxes">
	<%= link_to group.name, group_path(group) %>
	<% if current_user.groups.include?(group) %>
		<%= link_to 'leave', root_path %>
	<% elsif current_user.groups.empty? %>
		<%= link_to 'join', root_path %>
	<% end %> 

	<% group.users.each do |user| %>
		<%= user.email %>
	<% end %>
		
	</div>	
	
<% end %>
</div>


