 
<header class="navigation" role="banner">
  <div class="navigation-wrapper">

    <a href="javascript:void(0)" class="logo">
      
        <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">

      <% if user_signed_in? and current_user.groups.any? %>
        <li class="nav-link"><%= link_to current_user.groups.first.name, group_path(current_user.groups.first) %></li>
     <% elsif user_signed_in? %>
        <li class="nav-link"><%= link_to 'join a group', groups_path %></li>
     <% end %>

       

          <% if user_signed_in? %>

    <li class="nav-link more"><a href="javascript:void(0)">Me</a>
      <ul class="submenu">
        <li class="nav-link">

          <%= link_to 'profile', users_path(current_user.id) %></li>
              <li><%= link_to 'edit', edit_user_registration_path %></li>
                  <li class="more"><a href="javascript:void(0)">Groups</a>
                    <ul class="submenu">
                      <li><%= link_to 'Create', new_group_path %></li>
                      <li><%= link_to 'Join', groups_path %></li>
                    </ul>
                  </li>
      </ul>
    </li>



     

      <li class="nav-link">
      <%= link_to 'logout', destroy_user_session_path, class: :button, method: :delete %> </li>






    <% else %>

      <li class="nav-link">
      <%= link_to 'Browse', new_user_registration_path, class: :button %></li>
      
        
       
    <% end %>
        
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
           
          </button>
        </form>
      </div>
    </div>
  </div>
</header>



    