<div class= "posts">
			
	<div class="like">
		<p><%= link_to 'Like', like_post_path(@post.id), method: :put %></p>
	</div>
		<h3><%= @post.title %><h3>
		<p><%= @post.body %><p>
		<%= image_tag @post.image.url(:medium) %>

		<p> <%= @post.votes_for.size %>

	
   	<div class="delete">
		<% if current_user == @post.user %>
			<%= link_to 'delete', @post, method: :delete, data: {remote: true, removable: true} %> 
		<% end %>
	</div>
	
</div>